doc/dtd/hosttemplate.dtd

<!ELEMENT templates (template+)>

<!ELEMENT template (parent|attribute|class|test|group)*>
    <!ATTLIST template name CDATA #REQUIRED>

<!ELEMENT parent (#PCDATA)>

<!ELEMENT attribute (#PCDATA|item)*>
    <!ATTLIST attribute name CDATA #REQUIRED>

<!ELEMENT item (#PCDATA)>

<!ELEMENT class (#PCDATA)>

<!ELEMENT test (arg*)>
    <!ATTLIST test name CDATA #REQUIRED>

<!ELEMENT arg (#PCDATA)>
    <!ATTLIST arg name CDATA #REQUIRED>
<!ELEMENT group (#PCDATA)>




